.contenido-general {
    margin-left: 22%;
    padding: 2em;
    box-sizing: border-box;
}

h1 {
    flex-grow: 1;
    text-align: center;
    margin-bottom: 50px;
}

.juego_mayor {
    margin-top: 30px;
    margin-bottom: 30px;
}

.bt-suma {
    padding: 30px 40px;
    border-radius: 10px;
    background-color: aqua;
    margin-left: 12px;
    margin-left: 20px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 5px #2c2c2c;
    border-color: none;
    border: 1px solid #a58c8c;
}

.bt-mayor {
    padding: 12px 20px;
    border-radius: 10px;
    background-color: aqua;
    margin-left: 12px;
    margin-left: 10px;
    margin-bottom: 10px;
    border: none;
    box-shadow: 2px 2px 5px #2c2c2c;
    width: 150px;
    text-align: center;
}

.bt-suma:hover,
.bt-num:hover,
.bt-mayor:hover {
    cursor: pointer;
    background-color: #38FF2E;
    transition: all 0.9s ease-in-out;
}

.img-num {
    border: 2px solid #ccc;
    width: 300px;
    height: 300px;
    margin-top: 20px;
    margin-bottom: 1px;
    background-color: #facbf6;
}

.juego_suma,
.juego_numero {
    display: flex;
    align-items: center;

    margin-bottom: 10px;

}

.bt-numeros {
    display: flex;
    flex-direction: column;
}

.j3-Math {
    border: 2px solid #0c0f10;
    padding-left: 30px;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 0px;
    margin-bottom: 15px;
    box-shadow: 5px 5px 0px #000000;
    background-color: rgb(176, 224, 225);
    width: 1000px; 
    height: 450px
}

.j1-Math {
    border: 2px solid #0d0c0c;
    padding-left: 30px;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 0px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 0px #161010;
    background-color: rgb(179, 227, 245);
    width: 1000px; 
    height: 450px
}

.j2-Math {
    border: 2px solid #000000;
    padding-left: 30px;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 0px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 0px hsl(0, 30%, 68%);
    background-color: rgb(179, 227, 245);
    width: 1000px; 
    height: 450px
}

.cadena {
    border: 2px solid #0c0202;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 3px;
    text-align: center;
    padding: 30px 50px;
    border-radius: 10px;
    font-size: 30px;
    width: 150px;
    background-color: #facbf6;
}
.cadena-palabra {
    border: 2px solid #ccc;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 3px;
    text-align: center;
    padding: 30px 10px;
    border-radius: 10px;
    font-size: 20px;
    width: 350px;
    overflow-wrap: break-word;
    white-space: pre-line;
    background-color:  #facbf6;
}

.j4-Math {
    border: 2px solid #6A6A6A;
    padding-left: 30px;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 0px;
    box-shadow: 5px 5px 0px #6A6A6A;
}

.bt-num {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: aqua;
    margin-left: 25px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 5px #2c2c2c;
    border: none;

}

h4 {
    margin-bottom: 60px;
}

.juego-suma {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 0;

}
.juego_division{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 0;
}

hr {
    border: 1px solid black;
    width: 100px;
    margin-bottom: 0;


}

.num {

    margin-bottom: 0px;
    margin-top: 14px;
    border-radius: 10px;

}

.resp {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.pf1 {
    text-align: right;
    font-size: 35px;
    flex-direction: row;
    margin: 0;
    padding-top: 5px;
    align-items: center;
}

.bt-suma {
    margin-top: 20px;
    flex-direction: column;
    display: flex;
    padding: 15px;
    margin-left: 50px;

}

.juego-calc {
    border: 2px solid #6A6A6A;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    box-sizing: border-box;

}

.calculator {
    background-color: #424242;
    width: 300px;
    height: 350px;
    margin: 50px auto;
    border-radius: 10px;
    padding: 20px 5px 10px 5px;
    box-shadow: 5px 5px 10px #888888;

}

.visor-resp {
    display: flex;
    flex-direction: row;
    margin: 30px 25px;
    margin-bottom: 10px;
    background-color: #bcd1c0;
    padding: 15px 25px;
    border-radius: 10px;
    padding-left: 4px;
    font-size: 20px;
}

.bts-num-calc {
    margin: 2px 25px;
    margin-left: 3px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding: 20px;
}

.bt-calc {
    padding: 10px 10px;
    border-radius: 10px;
    width: 80px;
    height: 40px;
    background-color: #ececec;
    border-color: #c9c9c9;
    box-shadow: 0px 2px #888888;
    font-size: 20px;
}

.bt-calc:hover {
    background-color: #C7CCC7;
    cursor: pointer;
}

.resultado,
.number {

    align-items: center;
    padding: 10px;
}

.resultado {
    border: 1px solid #575656;
    margin-left: 10px;
    border-radius: 10px;
}

.pf {
    text-align: right;
    font-size: 20px;
    flex-direction: row;
}

input {
    padding: 15px;
    border-radius: 5px;
    width: 350px;
    margin-left: 7px;
    margin-bottom: 5px;
    font-size: 20px;
    border: 1px solid #ccc;
}

.bt-numeros1,
.bt-numeros {
    display: flex;
    border: 2px solid #ccc;
    flex-direction: column;
    margin-left: 60px;
    border-radius: 10px;
    width: 400px;
    padding: 12px 10px 5px;
    align-items: center;
}

.actualizar {

    align-items: center;
    width: 300px;
    flex-direction: column;

    margin-bottom: 5px;
    display: flex;
}

.cadena-actu {
    align-items: center;
    width: 300px;
    flex-direction: column;

    margin-bottom: 5px;
    display: flex;
}

.juego-Num_mayor {
    display: flex;
    align-items: center;
}

.num-aleatorios {
    display: flex;
    flex-direction: row;
}

.num-mayor {
    background-color: #88c085;
    width: 20px;
    padding: 20px 20px;
    border-radius: 10px;
    margin-left: 32px;
}
.vocal{
    background-color: #77b974;
    width: 20px;
    padding: 20px 20px;
    border-radius: 10px;
    margin-left: 32px;
    font-size: 25px; 
}

.correcto {
    width: 800px;
    height: 500px;
    background-color: #90bd8e;

}

.incorrecto {
    width: 800px;
    height: 500px;
    background-color: #fb5252;

}

.input-suma {
    width: 50px;
    height: 5px;
    margin-top: 3px;

}
.input-suma2{
    width: 50px;
    height: 5px;
    margin-top: 10px;
}
.operador {
    margin-bottom: 45px;
    font-size: 23px;

}
.operador1{
    margin-bottom: 25px;
    font-size: 23px;
}

.contenedor-suma {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 100%;

}

.Suma-Math {
    border: 2px solid #000000;
    padding-left: 30px;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 0px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 0px #6A6A6A;
    height: 350px;
    background-color: rgb(179, 227, 245);
    width: 1000px; 
    height: 450px

}

.botones {
    margin-top: 0;
}
.resp2{
    margin-bottom: 0;
    padding: 0;
}
.continuar{
    float:right;
}
.bt-continuar{
    padding: 12px 20px;
    border-radius: 10px;
    background-color: #949494;
    margin-left: 12px;
    margin-left: 10px;
    margin-bottom: 10px;
    border: none;
    box-shadow: 2px 2px 5px #2c2c2c;
    width: 150px;
    text-align: center; 
}
.bt-continuar:hover{
    cursor: pointer;
    background-color: #acacac;
    transition: all 0.9s ease-in-out;
}
#num1-divisor{
    margin-right: 150px;
}
.operador-divisor{
    margin-top: -70px;
}
#num2-divisor{
    margin-right: 50px;
    margin-top: -45px;
}
.input-division{
    width: 50px;
    height: 5px;
    margin-bottom: 50px;
    margin-top: 10px;
    margin-right: 25px;
}
.resp-divisor{
    display: flex;
    align-items: center;
    margin-bottom: -20px;
}
#textarea{
        resize: both;
        max-width: 300px; 
        min-width: 300px;
        max-height: 290px;
        min-height: 150px;
        margin-left: 25px;
        font-size: 20px;
        padding-left: 7px;
        padding-right: 7px;
        padding-top: 5px;
        border-radius: 5px;
        margin-bottom: 0px;
}
.bt-cant_Palabras{
    display: flex;
    border: 2px solid #ccc;
    flex-direction: column;
    margin-left: 90px;
    border-radius: 10px;
    width: 400px;
    padding: 12px 10px 5px;
    align-items: center; 
}

.cont-Cant_palabra{
    align-items: center;
    width: 360px;
    flex-direction: column;
    margin-bottom: 50px;
    display: flex;
    margin-top: -40px;

}
.juego_cuento{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    flex-direction: column;
}
.j2-cuento{
    border: 2px solid #120c0c;
    padding-left: 30px;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 0px;
    margin-bottom: 20px;
    background-color: rgb(179, 227, 245);
}
.lectura{
margin: 20px;
}
.cadena-cuento{
    border: 2px solid #ccc;
    margin-left: 20px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 3px;
    text-align: center;
    padding: 30px 50px;
    border-radius: 10px;
    font-size: 20px;
    width: 770px;
    background-color: rgb(179, 227, 245);
}
h2{
    margin-bottom: 20px;
}
.cuento_1{
    
    margin-left: 20px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 3px;
    text-align: center;
    padding: 30px 50px;
    border-radius: 10px;
    font-size: 20px;
    width: 770px;
}
.exit:hover {
    cursor: pointer;
 }
 
 .exit{
    float: right;
}




.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    align-items: center;
}

.input-group input {
    width: 100%;
    padding: 15px;
    min-width: 400px;
}
.input-group textarea{
    width: 100%;
    padding: 15px;
    height: 30px;
    max-height: 60px ;
    min-width: 445px;
    max-width: 445px;
    margin-left: 40px;
    border-radius: 5px;
    font-size: 20px;
    border: 1px solid #ccc;
}
#textarea-resp{
    margin-left: 35px;
}

.contenido-exit {
    margin-left: 22%;
    padding: 2em;
    box-sizing: border-box;
}
 

.exit-menu {
    float: right;
    }
.j2-Math1{
    border: 2px solid #000000;
    padding-left: 30px;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 0px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 0px #000000;
    height: 400px;
    background-color: rgb(179, 227, 245);
}
.aguda{
    margin-bottom: 100px;
}
.adivinar{
    border: 2px solid #ccc;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 3px;
    text-align: center;
    padding: 30px 40px;
    border-radius: 10px;
    font-size: 20px;
    width: 300px;
    background-color:rgb(245, 179, 242);
}
.bts-adivinar{
    margin-left: 100px;
    margin-right: 0px;
    margin-top: 20px;
    margin-bottom: 3px;
    
    padding: 30px 50px;
    border-radius: 10px;
    font-size: 20px;
    width: 770px;
}
