
.img-numero{
border-radius: 10px;
border: 2px solid #C8C6C1;
padding: 30px 30px;
margin-left: 14px;
margin-right: 640px;
margin-top: 20px;
}

.boton-respuesta{
 
    font-family: 'Comic Sans Ms','Arial Rounded MT bold','Dancing Script';  
}
.contenido_ejericios {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden;
    
}
.cont-respuesta {
    display: flex;
    flex-direction: row; /* Cambiado a "row" para colocar elementos en línea horizontal */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px; /* Espacio entre elementos */
    margin-top: 20px;
}
.cont-respuesta1 {
    display: flex;
    flex-direction: row; /* Cambiado a "row" para colocar elementos en línea horizontal */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px; /* Espacio entre elementos */
    margin-top: 50px;
}

.img-numero {
    flex: 1;
}

.respuesta {
    flex: 1;
    max-width: 300px; /* Ajusta según tus necesidades */
    display: flex;
    flex-direction: row; /* Cambiado a "row" para colocar elementos en línea horizontal */
    align-items: center;
    margin-top: -330px;
    margin-left: 150px;
}
.resp1 {
    flex: 1;
    max-width: 300px; /* Ajusta según tus necesidades */
    display: flex;
    flex-direction: row; /* Cambiado a "row" para colocar elementos en línea horizontal */
    align-items: center;
    margin-top: -160px;
    margin-left: 150px;
    margin-right: 660px;
}

.columna {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.columna1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 400px;
    margin-top: -208px;
}
.resp{ /* Ajusta según tus necesidades */
     margin-top: -100px;
    margin-left: 3px;
}

.boton-respuesta {
   
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 30px 40px;
    border: none;
    box-shadow: 3px 3px 5px #888888;
    font-size: 20px;
    margin-left: 10px;
}
.boton-respuesta1 {
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
    box-shadow: 3px 3px 5px #888888;
    font-size: 20px;
}
h4{
    text-align: left;
    margin-left: 12px;
    margin-right: 530px;
}

#bt1{
    background-color: #FFFB00;

}
#bt2{
    background-color: #FF00FE;
}
#bt3{
    background-color: #0098FF;
}#bt4{
    background-color: #0098FF;
    margin-top: 12px;
}
#bt5{
    background-color: #0098FF;
    margin-top: 9px;
}
#bt6{
    background-color: #0098FF;
}
#bt2:hover,
#bt3:hover,
#bt4:hover,
#bt5:hover,
#bt6:hover,
#bt1:hover{
    background-color: #38FF2E;
    transition: all 0.9s ease-in-out;
    cursor: pointer;
    
}
.cont-cantidad{
border-radius: 10px;
border: 2px solid #C8C6C1;
padding: 30px 10px;
margin-left: auto;
margin-right: 825px;
margin-top: 70px;
width: 200px;

}
.cont-cantidad1{
    border-radius: 10px;
border: 2px solid #C8C6C1;
padding: 30px 10px;
margin-left: auto;
margin-right: 855px;
margin-top: 100px;
width: 200px;
}



@media (max-width: 1300px) {
    /* Estilos específicos para pantallas de 600px o menos */
    .contenido_ejericios{
    
        position: fixed;
        overflow: hidden;
    }
    .img-numero{
        padding: 10px 10px;

    }
}